html {
  background-image: url(../public/carambar.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;

}

.App {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

header {
  margin: 5em 25em 20em;
  padding: 1em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.nav div a {
  display: flex;
  margin: 0em 2em;
  /* padding: 1em; */
  font-size: large;
  font-weight: bold;
  color: rgb(255, 13, 203);
}

.d-flex {
  display: flex;
}

.card {
  margin: 15em 40em;
  padding: 1em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 1.5em;
}

.btn {
  cursor: pointer;
  padding: 1em;
  border-radius: 10px;
  border: none;
  color: white;
  font-weight: bolder;
  background-color: rgb(255, 13, 203);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  background-color: rgb(208, 8, 164);
}

.joke {
  padding: 1em;
  margin: 2em;
  color: aliceblue;
  font-weight: bolder;
  background-color: rgb(255, 13, 203);
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 4em;
  color: white;
  background-color: black;
}